@media screen and (max-width: 480px) {

    #logo{
        width: 200px;
        height: 80px;

    }
    #navlist{
        display: none;
    }
     #gft{
         display: none;
     }
     #offer{
         display: none;
     }

  
 }
 